.addForm {
  background-color: #ffffff;
  box-shadow: var(--box-shadow);
  padding: 30px 20px;
  border-radius: 1rem;
  margin-top: 1rem;
}
button {
  margin-top: 15px;
}
.addForm2 {
  background-color: #ffffff;
  box-shadow: var(--box-shadow);
  padding: 30px 20px;
  border-radius: 1rem;
  margin-top: 1rem;
}

textarea {
  margin: 1em 0;
}
@media only screen and (max-width: 768px) {
  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
