.salary-us {
  padding: 30px 20px;
  background-color: #ffffff;
  border-radius: 1rem;
  text-align: center;
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
}
.salaries img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
table {
  margin: 20px 0;
}
table th {
  color: var(--primary-color);
}
@media only screen and (max-width: 768px) {
  table thead {
    display: none;
  }
  table tbody,
  table tbody tr {
    display: block;
    width: 100%;
  }
  table tbody tr th::before,
  table tbody tr td::before {
    content: attr(data-title);
    font-weight: bold;
    color: #6bae2d;
    text-align: left;
  }
  table tbody tr td {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  table tbody tr th {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  table tbody tr {
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 480px) {
  table tbody tr th::before,
  table tbody tr td::before {
    text-align: center;
  }
  table tbody tr td {
    flex-direction: column;
  }
  table tbody tr th {
    flex-direction: column;
  }
  .salary-us {
    max-height: 576px;
    overflow: scroll;
  }
}
