<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="padding: 0; margin: 0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/','positions']">Positions</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  </ol>
</nav>
<div class="container">
  <div class="editForm">
    <h3>Edit Position</h3>
    <form action="">
      <div class="form-group">
        <input type="text" class="form-control">
      </div>
      <button class="btn btn-primary">Edit</button>
    </form>
  </div>
</div>
