.main_content {
  margin-top: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
}

h3 {
  text-align: center
}

.tab-control {
  display: inline-block;
  border-bottom: 2px solid transparent;
  font-size: var(--text-md);
  padding: 0.6rem 1rem;
  cursor: pointer;
  transition: all 0.25s ease;
}

.tabs {
  padding: 1em;
}

.tab-control:hover {
  color: var(--primary-color);
}

.tab-panel {
  display: none;
}


/* Magic style */

input[type="radio"]:checked+.tab-control {
  font-weight: 600;
  color: var(--primary-color);
  border-bottom-color: var(--primary-color);
}

#tab-1:checked~.tab-content>#tab-panel-1 {
  display: block;
}

#tab-2:checked~.tab-content>#tab-panel-2 {
  display: block;
}
.header_ot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-ot-by-time {
  margin-top: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 30px 20px;
  text-align: center;
}
th {
  color: var(--primary-color);
}
h3 {
  margin-left: 50%;
  transform: translateX(-50%);
}
.header_ot a {
  margin-right: 3rem;
}
.header_ot span {
  font-size: 30px;
  color: darkcyan;
}
@media only screen and (max-width: 768px) {
  table thead {
    display: none;
  }
  table tbody,
  table tbody tr {
    display: block;
    width: 100%;
  }
  table tbody tr th::before,
  table tbody tr td::before {
    content: attr(data-title);
    font-weight: bold;
    color: #6bae2d;
    text-align: left;
  }
  table tbody tr td {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .main_content {
    margin-top: 1rem;
    background-color: #ffffff;
    border-radius: 1rem;
  }

  h3 {
    text-align: center;
  }

  .tab-control {
    display: inline-block;
    border-bottom: 2px solid transparent;
    font-size: var(--text-md);
    padding: 0.6rem 1rem;
    cursor: pointer;
    transition: all 0.25s ease;
  }

  .tabs {
    padding: 1em;
  }

  .tab-control:hover {
    color: var(--primary-color);
  }

  .tab-panel {
    display: none;
  }

  /* Magic style */

  input[type="radio"]:checked + .tab-control {
    font-weight: 600;
    color: var(--primary-color);
    border-bottom-color: var(--primary-color);
  }

  #tab-1:checked ~ .tab-content > #tab-panel-1 {
    display: block;
  }

  #tab-2:checked ~ .tab-content > #tab-panel-2 {
    display: block;
  }
  h3 {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  table tbody tr th {
    flex-direction: column;
  }
  .list-ot-by-time {
    max-height: 576px;
    overflow: scroll;
  }
}
