<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="padding: 0; margin: 0">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">List OT</li>
  </ol>
</nav>
<div class="list-ot">
  <h3 class="text-center">List Overtime</h3>
  <table class="table">
    <thead>
      <th>#</th>
      <th>Full Name</th>
      <th>Date_of_work</th>
      <th>Time_of_check_in</th>
      <th>Time_of_check_out</th>
      <th>Status</th>
    </thead>
    <tbody>
      <tr *ngFor="let ot of listOT; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ ot.full_name }}</td>
        <td>{{ ot.date_of_work }}</td>
        <td>{{ ot.time_of_check_in }}</td>
        <td>{{ ot.time_of_check_out }}</td>
        <td *ngIf="ot.status == 1"><span class="text-success">OT</span></td>
        <td *ngIf="ot.status !== 1"><span class="text-danger">Not OT</span></td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination
    class="d-flex justify-content-end"
    [collectionSize]="collectionSize"
    [(page)]="page"
    [maxSize]="5"
    [rotate]="true"
    [ellipses]="false"
    [boundaryLinks]="true"
    [pageSize]="pageSize"
    (pageChange)="handlePaginate($event)"
  ></ngb-pagination>
  <div class="d-flex">
    <div class="spinner" [ngStyle]="{ display: loading ? 'block' : 'none' }">
      <div class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>

<!-- paginate -->
