<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="padding: 0; margin: 0">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/','list-ot-by-time']">Danh sách tăng ca theo giờ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Thùng rác</li>
    </ol>
</nav>
<div class="trash-ot">
    <h3>Thùng Rác</h3>
    <table *ngIf="listOTDelete.length >0" class="table">
        <thead>
            <th>#</th>
            <th>Họ tên</th>
            <th>Ngày</th>
            <th>Giờ vào</th>
            <th>Giờ ra</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </thead>
        <tbody>
            <tr *ngFor="let ot of listOTDelete ; index as i">
                <td>{{i+1}}</td>
                <td>{{ot.full_name}}</td>
                <td>{{ot.date}}</td>
                <td>17:00:00</td>
                <td>{{ot.time_tang_ca}}</td>
                <td *ngIf="ot.status == 1"><span class="text-success">Đồng ý tăng ca</span></td>
                <td *ngIf="ot.status == 0"><span class="text-danger">Không đồng ý </span></td>
                <td>
                    <button class="btn btn-danger" (click)="handleDestroy(id)">Xóa</button>
                    <button class="btn btn-success" (click)="handleRestore(id,object)">Khôi phục</button>
                </td>
            </tr>
        </tbody>
      
    </table>
    <table class="justify-content-center" *ngIf="listOTDelete.length == 0">
        <p >Không có dữ liệu ...</p>
    </table>
</div>