<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
  </ol>
</nav>
<div class="dashboard" *ngIf="isAdmin">
  <div class="row sumary__list mb-4">
    <div class="col-3">
      <div class="sumary__item people">
        <span class="material-icons">people</span>

        <div class="sumary__content">
          <p class="sumary__count">{{ totalUsers }}</p>
          <p class="sumary__desc">tổng số nhân viên</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="sumary__item group_work">
        <span class="material-icons">group_work</span>

        <div class="sumary__content">
          <p class="sumary__count">{{ departments }}</p>
          <p class="sumary__desc">tổng số Team</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="sumary__item group_add">
        <span class="material-icons">group_add</span>

        <div class="sumary__content">
          <p class="sumary__count">{{ totalUserWorker }}</p>
          <p class="sumary__desc">nhân viên có mặt</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="sumary__item group_off">
        <span class="material-icons">group_off</span>

        <div class="sumary__content">
          <p class="sumary__count">{{ totalUsersOff }}</p>
          <p class="sumary__desc">nhân viên vắng mặt</p>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <!-- task-list -->
    <div class="col-8 col-12-md">
      <!-- task-list -->
      <div class="task-list">
        <div class="task-list__header">
          <p><i class="fas fa-thumbtack"></i> Công việc mới nhất</p>
          <a href="#"><span class="material-icons">more_horiz</span> </a>
        </div>
        <div class="task-list__body">
         <!-- xác nhận tăng ca -->
         <div class="accept_ot">
          <h5>Xác nhận tăng ca</h5>
          <table *ngIf="acceptOTList.length > 0" class="table my-custom-scrollbar">
              <thead>
                  <tr class="text-center">
                      <th scope="col">#</th>
                      <th scope="col">Lý do tăng ca</th>
                      <th scope="col">Xác nhận</th>
                  </tr>
              </thead>
              <tbody>
                  <tr class="text-center" *ngFor="let confirm of acceptOTList; let i = index">
                      <th scope="row">{{i+1 }}</th>
                      <td>{{ confirm.note }}</td>
                      <td>
                          <div *ngIf="!loadAccept" class="task-list__link tex-center">
                              <a (click)="handleAccept(confirm.id, i)" class="task-list__approve"><span class="material-icons">done</span></a>
                              <a (click)="handleNotAccept(confirm.id, i)" class="task-list__decline"><span class="material-icons">thumb_down_off_alt</span> </a>
                          </div>
                          <div *ngIf="loadAccept" class="task-list__link tex-center">
                              <div class="spinner-border" role="status">
                                  <span class="sr-only">Loading...</span>
                              </div>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
          <table *ngIf="acceptOTList.length == 0" class="table my-custom-scrollbar">
              <p>Không có lịch tăng ca</p>
          </table>
      </div>

      <div class="accept_time_off" *ngIf="isAdmin">
          <h5>Xác nhận nghỉ phép</h5>
          <table class="table my-custom-scrollbar">
              <thead>
                  <tr class="text-center">
                      <th scope="col">#</th>
                      <th scope="col">Tên nhân viên</th>
                      <th scope="col">Ảnh</th>
                      <th scope="col">Lý do xin nghỉ</th>
                      <th scope="col">Xác nhận</th>
                  </tr>
              </thead>
              <tbody>
                  <tr class="text-center" *ngFor="let confirm of confirmList; let i = index">
                      <th scope="row">{{ confirm.id }}</th>
                      <td>{{ confirm?.full_name }}</td>
                      <td>
                          <img [src]="
          confirm?.avatar
            ? confirm.avatar
            : 'https://ps.w.org/simple-user-avatar/assets/icon-256x256.png?rev=2413146'
        " alt="image" class="task-list__img" />
                      </td>
                      <td>{{ confirm.note }}</td>
                      <td>
                          <div *ngIf="!loadConfirm" class="task-list__link tex-center">
                              <a (click)="handleAprove(confirm.id, i)" class="task-list__approve"><span class="material-icons">done</span></a>
                              <a (click)="handleReject(confirm.id, i)" class="task-list__decline"><span class="material-icons">thumb_down_off_alt</span> </a>
                          </div>
                          <div *ngIf="loadConfirm" class="task-list__link tex-center">
                              <div class="spinner-border" role="status">
                                  <span class="sr-only">Loading...</span>
                              </div>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
        </div>
        <div class="d-flex justify-content-center" *ngIf="loadListConfirm">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <p
          *ngIf="confirmList.length === 0 && !this.loadListConfirm"
          class="d-flex justify-content-center align-items-center"
        >
          Không có đơn nào
        </p>
      </div>
      <!-- end-task-list -->
    </div>
    <!-- end task list -->
    <div class="col-4 col-12-md">
      <div class="team-chart">
        <div class="team-chart__header">
          <p>Số thành viên trong phòng ban</p>
        </div>

        <div class="team-chart__body">
          <ngx-charts-pie-chart
            [view]="view"
            [scheme]="colorScheme"
            [results]="dataUserByDepartment"
            [gradient]="false"
            [doughnut]="true"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8 col-12-md">
      <div class="attendace__analytic">
        <h3 class="text-center pt-3">Thống kê lương nhân viên các phòng ban</h3>
        <div class="attendace__chart">
          <ngx-charts-line-chart
            [scheme]="colorScheme"
            [legend]="false"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxis]="true"
            [yAxis]="true"
            [xAxisLabel]="'Tháng'"
            [yAxisLabel]="'Lương'"
            [timeline]="true"
            [results]="multi"
          >
          </ngx-charts-line-chart>
        </div>
      </div>
    </div>
    <div class="col-4 col-12-md fl">
      <div class="absent">
        <div class="absent__head-container">
          <div class="absent__header">
            <a href="" class="absent__link">Nghỉ phép/ Vắng mặt</a>
            <p>Ngày10 Tháng 6</p>
          </div>
          <div class="absent__more">
            <a href=""><span class="material-icons">more_horiz</span> </a>
            <p class="absent__more_info"><span>2</span>/19</p>
          </div>
        </div>
        <div class="absent__body">
          <div class="absent__item">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQEZrATmgHOi5ls0YCCQBTkocia_atSw0X-Q&usqp=CAU"
              class="absent__img"
              alt="image"
            />
            <div class="absent__info">
              <p class="absent__username">Thạch Hoàng Hà</p>
              <p class="absnet__desc">Nghỉ ốm</p>
            </div>
            <p class="absent__time">Hôm nay</p>
          </div>
          <div class="absent__item">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQEZrATmgHOi5ls0YCCQBTkocia_atSw0X-Q&usqp=CAU"
              class="absent__img"
              alt="image"
            />
            <div class="absent__info">
              <p class="absent__username">Thạch Hoàng Hà</p>
              <p class="absnet__desc">Nghỉ ốm</p>
            </div>
            <p class="absent__time">Hôm nay</p>
          </div>
          <div class="absent__item">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQEZrATmgHOi5ls0YCCQBTkocia_atSw0X-Q&usqp=CAU"
              class="absent__img"
              alt="image"
            />
            <div class="absent__info">
              <p class="absent__username">Thạch Hoàng Hà</p>
              <p class="absnet__desc">Nghỉ ốm</p>
            </div>
            <p class="absent__time">Hôm nay</p>
          </div>
        </div>
      </div>
      <!-- end-absent -->
      <div class="remote-work">
        <div class="remote-work__header">
          <div class="remote-work__header__left">
            <a href="" class="remote-work__title">Remote work</a>
            <span>15 Aug,2021</span>
          </div>
          <div class="remote-work__header__right">
            <a href=""><span class="material-icons">more_horiz</span></a>
            <p><span>2</span>/19</p>
          </div>
        </div>
        <div class="remote-work__body">
          <div class="remote-work__item">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQEZrATmgHOi5ls0YCCQBTkocia_atSw0X-Q&usqp=CAU"
              class="remote-work__img"
              alt="image"
            />
            <div class="remote-work__info">
              <p class="remote-work__username">Thạch Hoàng Hà</p>
              <p class="remote-work__desc">Làm việc ở nhà</p>
            </div>
            <p class="remote-work__time">từ 20/6 đến 30/6</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dashboard__employee" *ngIf="!isAdmin">
  <div class="row sumary__list mb-4">
    <div class="col-3">
      <div class="sumary__item people">
        <span class="material-icons">work</span>

        <div class="sumary__content">
          <p class="sumary__count">10</p>
          <p class="sumary__desc">Số ngày làm việc</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="sumary__item group_work">
        <span class="material-icons">today</span>

        <div class="sumary__content">
          <p class="sumary__count">4</p>
          <p class="sumary__desc">Số ngày nghỉ có lương</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="sumary__item group_add">
        <span class="material-icons">event_busy</span>

        <div class="sumary__content">
          <p class="sumary__count">1</p>
          <p class="sumary__desc">Số ngày đã nghỉ</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="sumary__item group_off">
        <span class="material-icons">paid</span>

        <div class="sumary__content">
          <p class="sumary__count">9.000.000</p>
          <p class="sumary__desc">Lương tháng</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- task-list -->
    <div class="col-8">
      <!-- task-list -->
      <div class="task-list">
        <div class="task-list__header">
          <p><i class="fas fa-thumbtack"></i> Đơn đang chờ</p>
          <a href="#"><span class="material-icons">more_horiz</span> </a>
        </div>
        <div class="task-list__body">
          <!-- xác nhận tăng ca nhân viên-->
          <div class="accept_ot">
            <h5>Xác nhận tăng ca</h5>
            <table *ngIf="acceptOTList.length > 0" class="table my-custom-scrollbar">
                <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">Lý do tăng ca</th>
                        <th scope="col">Xác nhận</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let confirm of acceptOTList; let i = index">
                        <th scope="row">{{i+1 }}</th>
                        <td>{{ confirm.note }}</td>
                        <td>
                            <div *ngIf="!loadConfirm" class="task-list__link tex-center">
                                <a (click)="handleAcceptEmployee(confirm.id, i)" class="task-list__approve"><span class="material-icons">done</span></a>
                                <a (click)="handleNotAcceptEmployee(confirm.id, i)" class="task-list__decline"><span class="material-icons">thumb_down_off_alt</span> </a>
                            </div>
                            <div *ngIf="loadConfirm" class="task-list__link tex-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table *ngIf="acceptOTList.length == 0" class="table my-custom-scrollbar">
                <p>Không có lịch tăng ca</p>
            </table>
        </div>
       
        </div>
      </div>
      <!-- end-task-list -->
    </div>
    <!-- end task list -->
    <div class="col-4">
      <div class="team-chart">
        <div class="team-chart__header">
          <p>Chức vụ trong phòng ban</p>
        </div>

        <div class="team-chart__body">
          <ngx-charts-pie-chart
            [view]="view"
            [scheme]="colorScheme"
            [results]="data"
            [gradient]="false"
            [doughnut]="true"
            (select)="onSelect($event)"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
  </div>
</div>
