.trash-prize-fine {
  margin-top: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 30px 20px;
  text-align: center;
  min-height: 36em;
}

th {
  color: var(--primary-color);
}
button {
  margin: 0 2px;
}
