<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="padding: 0; margin: 0">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
    <li class="breadcrumb-item" aria-current="page">
      <a [routerLink]="['/', 'my-time-off']">Danh sách nghỉ phép của tôi</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ idTimeOff ? "Chỉnh sửa" : "Thêm mới" }}
    </li>
  </ol>
</nav>
<div class="time-off-add">
  <h3 class="text-center">
    {{ idTimeOff ? "Chỉnh sửa lịch nghỉ" : "Thêm lịch nghỉ" }}
  </h3>
  <form (ngSubmit)="submitForm()" [formGroup]="TimeOffForm">
    <div class="form-group">
      <label for="">Ngày bắt đầu</label>
      <!-- <span class="text-danger" *ngIf="idTimeOff">
        ( {{ this.TimeOffForm.value.time_start | date: "yyyy/MM/dd" }} )</span
      > -->
      <input
        class="form-control"
        type="date"
        formControlName="time_start"
        min="{{ today | date: 'yyyy-MM-dd' }}"
        (change)="equarDateStart($event)"
      />
    </div>

    <div>
      <p class="error"></p>
    </div>

    <div class="form-group">
      <label for="">Ngày kết thúc </label>

      <input
        class="form-control"
        type="date"
        formControlName="time_end"
        id=""
        min="{{ TimeOffForm.value.time_start | date: 'yyyy-MM-dd' }}"
        (change)="equarDateEnd($event)"
      />
    </div>

    <div>
      <p class="error2"></p>
    </div>
    <div class="form-group">
      <label for="">Lý do nghỉ phép</label>
      <textarea
        class="form-control"
        formControlName="note"
        id=""
        cols="30"
        rows="5"
      ></textarea>
    </div>
    <div
      *ngIf="f.note.invalid && (f.note.dirty || f.note.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="f.note.errors?.required">Lý do nghỉ phép không để trống</div>
    </div>
    <div class="form-group">
      <label for=""
        >Số ngày nghỉ có lương (Còn {{ totalDay - totalDayOff }} ngày)</label
      >
      <input
        class="form-control"
        type="number"
        formControlName="number_day"
        id="numberDay"
      />
    </div>
    <div
      *ngIf="TimeOffForm.value.number_day > totalDay - totalDayOff"
      class="alert alert-danger"
    >
      <div>
        Bạn đã chọn vượt quá số ngày nghỉ có lương còn lại, vui lòng chọn lại !
      </div>
    </div>
    <button [disabled]="TimeOffForm.invalid" class="btn btn-primary">
      {{ idTimeOff ? "Cập nhật" : "Thêm" }}
    </button>
  </form>
</div>
