<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="padding: 0; margin: 0">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/','my-time-off']">Lịch nghỉ cá nhân</a></li>
        <li class="breadcrumb-item active" aria-current="page">Thùng rác</li>
    </ol>
</nav>
<div class="trash-time-off">

      <h3 class="text-center">Thùng rác</h3>
     
   
    
    <table *ngIf="listTimeOffDelete.length > 0" class="table">
      <thead>
          <th>#</th>
        <th>Họ tên</th>
        <th>Ngày bắt đầu</th>
        <th>Ngày kết thúc</th>
        <th>Lý do</th>
        <th>Trạng thái</th>
        <th>Chế độ</th>
        <th>Số ngày nghỉ</th>
        <th>Ngày nghỉ có lương</th>
        <th>Hành động</th>
      </thead>
      <tbody>
        <tr *ngFor="let time of listTimeOffDelete; index as i">
            <td>{{i+1}}</td>
          <td>{{ time.full_name }}</td>
          <td>{{ time.time_start | date: "dd/MM/yyyy" }}</td>
          <td>{{ time.time_end | date: "dd/MM/yyyy" }}</td>
          <td>{{ time.note }}</td>
          <td>{{ time.status == 1 ? "Đã duyệt" : "Chưa phê duyệt" }}</td>
          <td>
            {{ time.mode_leave == 1 ? "Nghỉ có lương" : "Nghỉ không lương" }}
          </td>
          <td>{{ time.number_day_leave }} ngày</td>
          <td>{{ time.number_mode_leave }} ngày</td>
          <td >
           
            <button title="Xóa vĩnh viễn" class="btn btn-danger" (click)="handleDestroy(time.id, i)">
              <span title="Xóa vĩnh viễn" class="material-icons">
                delete_forever
                </span>
            </button>
            <button title="Khôi phục" class="btn btn-success" (click)="handleRestore(time.id,i)"><span title="Khôi phục" class="material-icons">
              settings_backup_restore
              </span></button>
          </td>
       
        
          
        </tr>
      </tbody>
    </table>
    <table *ngIf="listTimeOffDelete.length == 0">
      <p>Thùng rác rỗng</p>
    </table>
  </div>