<div class="change-background">
  <div class="change-page">
    <div class="form">
      <h1 class="text-center mb-5">HR Manager</h1>

      <form action="" (submit)="submitForm($event)" [formGroup]="ChangePass">
        <input type="password" placeholder="password current" name="password_current" formControlName="current_password"
          />
            <div *ngIf="f.current_password.invalid && (f.current_password.dirty || f.current_password.touched)" class="alert alert-danger">
              <div *ngIf="f.current_password.errors?.required">
                Current Password is required.
              </div>
            </div>
        <input type="password" placeholder="password new" name="password_new" formControlName="new_password" />
        <div *ngIf="f.new_password.invalid && (f.new_password.dirty || f.new_password.touched)"
          class="alert alert-danger">
          <div *ngIf="f.new_password.errors?.required">
            New Password is required.
          </div>
        </div>
        <input type="password" placeholder="password config" name="password_config" formControlName="comfig_password"
          />
          <div *ngIf="f.comfig_password.invalid && (f.comfig_password.dirty || f.comfig_password.touched)" class="alert alert-danger">
            <div *ngIf="f.comfig_password.errors?.required">
              Comfig Password is required.
            </div>

          </div>
        <button type="submit">
          Change
          <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> -->
        </button>
        <a [routerLink]="['/','dashboard']">Cancle</a>
      </form>
    </div>
  </div>
</div>
