<div class="change-background">
  <div class="change-page">
    <div class="form">
      <h1 class="text-center mb-5">HR Manager</h1>

      <form action="" (submit)="submitForm($event)" [formGroup]="TimeOffForm">
        <input type="password" placeholder="password current" name="password_current" formControlName="current_password"
          required />
        <input type="password" placeholder="password new" name="password_new" formControlName="new_password" />
        <input type="password" placeholder="password config" name="password_config" formControlName="comfig_password"
          required />
        <button type="submit">
          Change
          <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> -->
        </button>
        <a [routerLink]="['/','dashboard']">Cancle</a>
      </form>
    </div>
  </div>
</div>
