<div class="change-background">
  <div class="change-page">
    <div class="form">
      <h1 class="text-center mb-5">HR Manager</h1>

      <form class="change-form" #changeForm="ngForm" class="register-form" (ngSubmit)="onSubmit(changeForm.value)">
        <input type="password" placeholder="password current" name="password_current" ngModel required />
        <input type="password" placeholder="password new" name="password_new" ngModel required />
        <input type="password" placeholder="password config" name="password_config" ngModel required />
        <button type="submit">
          Change
          <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> -->
        </button>
        <a  [routerLink]="['/','dashboard']">Cancle</a>
      </form>
    </div>
  </div>
</div>
