<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="padding: 0; margin: 0">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/', 'prize-fine-money']">Danh sách thưởng phạt</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ prizeFineId ? "Sửa thưởng-phạt" : "Thêm mới thưởng-phạt" }}
    </li>
  </ol>
</nav>
<div class="prize-fine-money">
  <h3 class="text-center">
    {{ prizeFineId ? "Sửa thưởng-phạt" : "Thêm mới thưởng-phạt" }}
  </h3>

  <form (ngSubmit)="submitForm()" [formGroup]="prizeFineForm">
    <div class="form-group">
      <label for="">Kiểu </label>
      <select formControlName="type" class="form-control">
        <option [ngValue]="true">Thường</option>
        <option [ngValue]="false">Phạt</option>
      </select>
    </div>
    <div class="form-group" *ngIf="!prizeFineId">
      <label for="">Nhân viên</label>
      <ng-multiselect-dropdown [placeholder]="'--Chooses User--'" [settings]="dropdownSettings" [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)" (onDeSelect)="onDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
          formControlName="user_id">
      </ng-multiselect-dropdown>
  </div>
  <!-- <div *ngIf="f.user_id.invalid && (f.user_id.dirty || f.user_id.touched)" class="alert alert-danger">
    <div *ngIf="f.user_id.errors?.required">Nhân viên không để trống</div>
</div> -->
  <div class="form-group" *ngIf="prizeFineId">
      <label for="">Nhân viên</label>
      <select formControlName="user_id" class="form-control">
      <option value="" selected disabled>--Chọn nhân viên--</option>
      <option
        [value]="employee.id"
        *ngFor="let employee of employees; index as i"
      >
        {{ employee.userinfo.full_name }}
      </option>
    </select>

  </div>
 

    <div class="form-group">
      <label for="">Ghi chú</label>
      <input
        type="text"
        class="form-control"
        placeholder="Nhập ghi chú"
        formControlName="note"
      />
    </div>
    <div
      *ngIf="f.note.invalid && (f.note.dirty || f.note.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="f.note.errors?.required">
        Phần ghi chú không được để trống.
      </div>
    </div>
    <div class="form-group">
      <label for="">Số tiền</label>
      <input
        type="number"
        class="form-control"
        placeholder="Nhập số tiền"
        formControlName="money"
        (change)="checkMoney($event)"
      />
    </div>
    <div
      *ngIf="f.money.invalid && (f.money.dirty || f.money.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="f.money.errors?.required">Số tiền không được bỏ trống</div>
    </div>
    <div>
      <p class="error"></p>
    </div>
    <button class="btn btn-primary" type="submit">
      {{ prizeFineId ? "Cập nhật" : "Thêm" }}
    </button>
  </form>
</div>
