.prize-fine-money {
  margin-top: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 30px 20px;
  box-shadow: var(--box-shadow);
  min-height: 36em;
}
.prize-fine-money span {
  margin-right: 15px;
}
