<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="padding: 0; margin: 0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add Employee</li>
  </ol>
</nav>

<div class="addEmployee">
  <h3 class="text-center">Add Employee</h3>
  <form (ngSubmit)="submitForm()" [formGroup]="newEmployeeForm">
    <div class="form-group">
      <label for="">User Name</label>
      <input
        type="text"
        placeholder="Please enter your username"
        formControlName="user_account"
        class="form-control"
      />
      <div
        *ngIf="
          newEmployeeForm.get('user_account').touched &&
          newEmployeeForm.get('user_account').invalid
        "
        class="alert alert-danger mt-1"
        role="alert"
      >
        Please enter your UserName
      </div>
    </div>
    <div class="form-group">
      <label for="">Full Name</label>
      <input
        type="text"
        placeholder="Please enter your Full Name"
        formControlName="full_name"
        class="form-control"
      />
      <div
        *ngIf="
          newEmployeeForm.get('full_name').touched &&
          newEmployeeForm.get('full_name').invalid
        "
        class="alert alert-danger mt-1"
        role="alert"
      >
        Please enter your Full Name
      </div>
    </div>
    <div class="form-group">
      <label for="">Email</label>
      <input type="email" formControlName="email" id="" class="form-control" />
      <div
        *ngIf="
          newEmployeeForm.get('email').touched &&
          newEmployeeForm.get('email').invalid
        "
        class="alert alert-danger mt-1"
        role="alert"
      >
        Please enter your Email address
      </div>
    </div>
    <div class="form-group">
      <label for="">Gender</label>
      <div class="gender">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault1"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault1"> Male </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault2"
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Female
          </label>
        </div>
      </div>
    </div>
    <!-- <div class="form-group">
      <label for="">Avatar</label>
      <input type="file" class="form-control" formControlName="avatar" />
    </div> -->
    <div class="form-group">
      <label for="">Address</label>
      <input
        class="form-control"
        formControlName="address"
        placeholder="Please enter your address"
        type="text"
      />
      <div
        *ngIf="
          newEmployeeForm.get('address').touched &&
          newEmployeeForm.get('address').invalid
        "
        class="alert alert-danger mt-1"
        role="alert"
      >
        Please enter your address
      </div>
    </div>
    <div class="form-group">
      <label for="">Phone Number</label>
      <input
        class="form-control"
        type="number"
        formControlName="phone"
        id=""
        placeholder="Please enter your phone number"
      />
      <div
        *ngIf="
          newEmployeeForm.get('phone').touched &&
          newEmployeeForm.get('phone').invalid
        "
        class="alert alert-danger mt-1"
        role="alert"
      >
        Please enter your phone number
      </div>
    </div>
    <hr />
    <div class="form-group">
      <label for="">Position</label>
      <select class="form-control" formControlName="position">
        <option value="" disabled selected>--Choose position--</option>
        <option *ngFor="let position of positions" [value]="position?.id">
          {{ position?.name }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="">Department</label>
      <select class="form-control" formControlName="department">
        <option value="" disabled selected>--Choose department--</option>
        <option *ngFor="let department of departments" [value]="department?.id">
          {{ department?.name }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="">Role</label>
      <select class="form-control" formControlName="role_id">
        <option value="" disabled selected>--Choose Role--</option>
        <option value="1">Admin</option>
        <option value="2">HR</option>
        <option value="3">Employee</option>
        <option value="4">Leader</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">Basic Salaries</label>
      <input
        class="form-control"
        type="number"
        formControlName="basic_salary"
        id=""
      />
      <div
        *ngIf="
          newEmployeeForm.get('basic_salary').touched &&
          newEmployeeForm.get('basic_salary').invalid
        "
        class="alert alert-danger mt-1"
        role="alert"
      >
        Please enter your phone number
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-success btn-lg"
      [disabled]="newEmployeeForm.invalid"
    >
      Add Employee
    </button>
  </form>
</div>
