<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="padding: 0; margin: 0">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Time Off List</li>
  </ol>
</nav>
<div class="list-time-off">
  <h3 class="text-center">List Time Off</h3>
  <table class="table">
    <thead>
      <th>Họ và tên</th>
      <th>Ngày bắt đầu</th>
      <th>Ngày kết thúc</th>
      <th>Chú thich</th>
      <th>Trạng thái</th>
      <th>chế độ nghỉ</th>
      <th>Số ngày nghỉ</th>
      <th>Số ngày nghỉ có lương</th>
    </thead>
    <tbody>
      <tr *ngFor="let time of listTimeOff; index as i">
        <td data-title="Họ và tên">{{ time.full_name }}</td>
        <td data-title="Ngày bắt đầu">
          {{ time.time_start | date: "dd/MM/yyyy" }}
        </td>
        <td data-title="Ngày kết thúc">
          {{ time.time_end | date: "dd/MM/yyyy" }}
        </td>
        <td data-title="Chú thich">{{ time.note }}</td>
        <td data-title="Trạng thái">
          {{ time.status == 1 ? "Đã duyệt" : "Chưa phê duyệt" }}
        </td>
        <td data-title="chế độ nghỉ">
          {{ time.mode_leave == 1 ? "Nghỉ có lương" : "Nghỉ không lương" }}
        </td>
        <td data-title="Số ngày xin nghỉ">{{ time.number_day_leave }} ngày</td>
        <td data-title="Số ngày nghỉ có lương">
          {{ time.number_mode_leave }} ngày
        </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination
    class="d-flex justify-content-end"
    [collectionSize]="collectionSize"
    [(page)]="page"
    [maxSize]="3"
    [rotate]="true"
    [ellipses]="false"
    [boundaryLinks]="true"
    [pageSize]="pageSize"
    (pageChange)="handlePaginate($event)"
  ></ngb-pagination>
  <div class="d-flex">
    <div class="spinner" [ngStyle]="{ display: loading ? 'block' : 'none' }">
      <div class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>
