<div class="content__main">
  <div class="content__main-header">
    <div class="breadcrumb">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Detail</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="content__main-content">
    <div class="content__main-sidebar">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://media.istockphoto.com/photos/portrait-of-handsome-latino-african-man-picture-id1007763808?k=6&m=1007763808&s=612x612&w=0&h=Js1VDBulbaNw_CF7fghP_nhUPCC-DQTqb7Wym1CdTOI="
          alt="Card image cap"
        />
        <div class="card-body">
          <h3 class="card-text">Staff name</h3>
          <span class="card-text-position">Position</span>
          <span>/</span>
          <span class="card-text-department">Department</span>
        </div>
        <div class="card-qr">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="content__main-info">
      <div class="content__main-info-header">
        <ul class="content__main-info-header-list">
          <li class="content__main-info-header-item">
            <a
              class="
                content__main-info-header-link
                content__main-info-header-link-active
              "
              href=""
              >Thông tin cơ bản</a
            >
          </li>
          <li class="content__main-info-header-item">
            <a class="content__main-info-header-link" href=""
              >Liên hệ gia đình</a
            >
          </li>
          <li class="content__main-info-header-item">
            <a class="content__main-info-header-link" href=""
              >Quá trình công tác</a
            >
          </li>
        </ul>
        <div class="content__main-info-content">
          <div class="content__main-info-table row">
            <div class="col-6 content__main-info-table">
              <ul class="content__main-info-table-list">
                <li class="content__main-info-table-item">
                  <div class="group-form">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Tên nhân viên </span>
                    </div>
                    <input type="text" class="form-control" />
                  </div>
                </li>
                <li class="content__main-info-table-item">
                  <div class="group-form">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Mã nhân viên </span>
                    </div>
                    <input type="text" class="form-control" />
                  </div>
                </li>
                <li class="content__main-info-table-item">
                  <div class="group-form">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Giới tính</span>
                    </div>
                    <select class="custom-select" name="" id="">
                      <option value="">Nam</option>
                      <option value="">Nữ</option>
                    </select>
                  </div>
                </li>
                <li class="content__main-info-table-item">
                  <div class="group-form">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Mã số thuế</span>
                    </div>
                    <input type="text" class="form-control" />
                  </div>
                </li>
                <li class="content__main-info-table-item">
                  <div class="group-form">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Ngày cấp MTS</span>
                    </div>
                    <input type="date" class="form-control" />
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-6 content__main-info-table">
              <ul class="content__main-info-table-list">
                <li class="content__main-info-table-item">
                  <div class="group-form">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Số CMND</span>
                    </div>
                    <input type="text" class="form-control" />
                  </div>
                </li>
                <li class="content__main-info-table-item">
                  <div class="group-form">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Ngày Cấp </span>
                    </div>
                    <input type="date" class="form-control" />
                  </div>
                </li>
                <li class="content__main-info-table-item">
                  <div class="group-form">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Nơi cấp</span>
                    </div>
                    <input type="text" class="form-control" />
                  </div>
                </li>
                <li class="content__main-info-table-item">
                  <div class="group-form">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Trạng thái</span>
                    </div>
                    <input type="text" class="form-control" />
                  </div>
                </li>
                <li class="content__main-info-table-item">
                  <div class="group-form">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Lương</span>
                    </div>
                    <input type="text" class="form-control" />
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
