<div class="row list-top-margin">
  <div class="col-12">
    <div class="list-between" style="padding-top: 10px">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="col-4 d-flex justify-content-center">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="padding: 0; margin: 0">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                list nhân viên
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <div class="box11">
            <div class="container-2">
              <span class="icon"><i class="fa fa-search"></i></span>
              <input type="search" id="search" placeholder="Search nhan viên" />
            </div>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <div class="list-nhan-vien-btn">
            <button class="nhan-vien-btn">
              <a href="#" class="btn-link"> thêm mới </a>
            </button>
            <button class="nhan-vien-btn">
              <a href="#" class="btn-link">
                <i class="fas fa-filter"></i>
                Lọc
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12" style="padding-top: 30px">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Mã nhân viên</th>
          <th scope="col">Tên nhân viên</th>
          <th scope="col">Ảnh</th>
          <th scope="col">SĐT</th>
          <th scope="col">email</th>
          <th scope="col">status</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>#123</td>
          <td>nguyễn bá hưng</td>
          <td>img</td>
          <td>0338757424</td>
          <td>hungnbph08143</td>
          <td>
            <div style="margin-left: 10px" class="switch">
              <input
                name="act"
                data-primary='[{"id":"3"}]'
                id="cmn-toggle-act"
                class="cmn-toggle cmn-toggle-round editable"
                style="flex: inherit"
                type="checkbox"
              />

              <label for="cmn-toggle-act"></label>
            </div>
          </td>
          <td>
            <a href="#" style="color: #6bae2d; font-size: 15px">
              <i class="far fa-edit"></i>
            </a>
            <a href="#" style="color: #6bae2d; font-size: 15px">
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>#123</td>
          <td>nguyễn bá hưng</td>
          <td>img</td>
          <td>0338757424</td>
          <td>hungnbph08143</td>
          <td>
            <div style="margin-left: 10px" class="switch">
              <input
                name="act"
                data-primary='[{"id":"3"}]'
                id="cmn-toggle-act-2"
                class="cmn-toggle cmn-toggle-round editable"
                style="flex: inherit"
                type="checkbox"
              />

              <label for="cmn-toggle-act-2"></label>
            </div>
          </td>
          <td>
            <a href="#" style="color: #6bae2d; font-size: 15px">
              <i class="far fa-edit"></i>
            </a>
            <a href="#" style="color: #6bae2d; font-size: 15px">
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>#123</td>
          <td>nguyễn bá hưng</td>
          <td>img</td>
          <td>0338757424</td>
          <td>hungnbph08143</td>
          <td>
            <div style="margin-left: 10px" class="switch">
              <input
                name="act"
                data-primary='[{"id":"3"}]'
                id="cmn-toggle-act-3"
                class="cmn-toggle cmn-toggle-round editable"
                style="flex: inherit"
                type="checkbox"
              />

              <label for="cmn-toggle-act-3"></label>
            </div>
          </td>
          <td>
            <a href="#" style="color: #6bae2d; font-size: 15px">
              <i class="far fa-edit"></i>
            </a>
            <a href="#" style="color: #6bae2d; font-size: 15px">
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
