<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="padding: 0; margin: 0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">list nhân viên</li>
  </ol>
</nav>
<div class="employees">
  <h2 class="mt-2">Nhân viên :</h2>
  <hr />
  <div class="employees__tools">
    <div class="employees__filter d-flex justify-content-between">
      <div class="search mr-2">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"
              ><span class="material-icons">search</span></span
            >
          </div>
          <input
            type="text"
            (keyup.enter)="handleSearch($event)"
            class="form-control"
            placeholder="search"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
      <select
        style="width: 7em"
        class="custom-select mr-2"
        id="inputGroupSelect01"
      >
        <option selected>Team</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <select style="width: 7em" class="custom-select" id="inputGroupSelect01">
        <option selected>Position</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <!-- <div class="employees__sort">
      <div class="sort_by d-flex">
        <span class="mx-1">Sort by:</span>
        <select class="custom-select">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div> -->
  </div>
  <div class="row">
    <div class="employees__list">
      <div class="eployee__item" *ngFor="let employee of employees">
        <div class="card">
          <img
            [src]="employee.image"
            class="card-img-top employee__img"
            alt="employee"
          />
          <div class="card-body">
            <h5 class="card-title text-center">{{ employee.name }}</h5>
            <p class="card-text text-center">Mã NV: {{ employee.username }}</p>
            <p class="card-text text-center">
              Chức vụ: {{ employee.position }}
            </p>
            <p class="card-text text-center">Team: {{ employee.department }}</p>
            <a
              [routerLink]="['/', 'employee', employee.id]"
              class="btn btn-success btn-block"
              >Chi tiết</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
