<div class="app-container">
  <!-- Header-container -->
  <header>
    <div class="logo-search">
      <a [routerLink]="['/']" class="logo__links">HR Manager </a>
    </div>

    <div class="tools">
      <!-- <div class="tools__scan" *ngIf="isAdmin">
        <a [routerLink]="['/', 'scan']"
          ><span class="material-icons">qr_code_scanner</span> Scan
          Attendance</a
        >
      </div> -->
      <div class="tools_newtask user-web" ngbDropdown>
        <a tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">
          <span class="material-icons">add</span>
        </a>
        <div
          ngbDropdownMenu
          aria-labelledby="navbarDropdown1"
          class="tools_newtask__list"
        >
          <a
            ngbDropdownItem
            [routerLink]="['/', 'employee-form']"
            *ngIf="isAdmin"
            (click)="$event.preventDefault()"
            ><span class="material-icons">people</span> Thêm nhân viên</a
          >

          <a
            ngbDropdownItem
            [routerLink]="['/', 'time-off-add']"
            (click)="$event.preventDefault()"
          >
            <span class="material-icons">verified</span> Thêm đơn nghỉ phép</a
          >
        </div>
      </div>

       <!-- thông báo -->
       <div ngbDropdown class="notify d-inline-block" *ngIf="isAdmin">
        
        <a>
         <span class="bell material-icons" id="dropdownBasic1" ngbDropdownToggle>
           notifications
           </span>
           <span title="Thông báo mới" class="badge badge-light">+{{countNotify.length}}</span>
        </a>
                     <div class="notify_bag" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                         <div class="view_all">
                             <a class="view_all_target" (click)="getListNotify(contentList)">Xem tất cả <span style="font-size: 14px;" class="material-icons">double_arrow_right</span></a>
                         </div>
                         <ul *ngFor="let item of listNotify">
                             <a (click)="notifyDetail(contentDetail,item.id)">
                                 <li *ngIf="item.read_at == null" class="bg">
                                     <div ngbDropdownItem style="padding: 10px 8px;">
                                         <h5 class="title_notify" *ngIf="item.type =='1'">Thông báo nghỉ phép</h5>
                                         <h5 class="title_notify" *ngIf="item.type =='2'">Thông báo tăng ca</h5>
                                         <h5 class="title_notify" *ngIf="item.type =='3'">Thông báo tăng ca theo giờ</h5>
 
                                         <p class="note_notify" *ngIf="item.type =='1'">Bạn có thông báo nghỉ phép</p>
                                         <p class="note_notify" *ngIf="item.type =='2'">Bạn có thông báo tăng ca</p>
                                         <p class="note_notify" *ngIf="item.type =='3'">Bạn có thông báo tăng ca theo giờ</p>
                                         <div class="item_bottom">
                                             <span class="date_notify">{{item.date_notyfi}}</span>
                                             <span id="icon_read" class=" material-icons ">
                                             fiber_manual_record
                                             </span>
                                         </div>
                                     </div>
                                 </li>
                                 <li *ngIf="item.read_at !==null " class="bg2 ">
                                     <div ngbDropdownItem style="padding: 10px 8px;">
                                         <h5 class="title_notify" *ngIf="item.type =='1'">Thông báo nghỉ phép</h5>
                                         <h5 class="title_notify" *ngIf="item.type =='2'">Thông báo tăng ca</h5>
                                         <h5 class="title_notify" *ngIf="item.type =='3'">Thông báo tăng ca theo giờ</h5>
 
                                         <p class="note_notify" *ngIf="item.type =='1'">Bạn có thông báo nghỉ phép</p>
                                         <p class="note_notify" *ngIf="item.type =='2'">Bạn có thông báo tăng ca</p>
                                         <p class="note_notify" *ngIf="item.type =='3'">Bạn có thông báo tăng ca theo giờ</p>
                                         <div class="item_bottom">
                                             <span class="date_notify">{{item.date_notyfi | date:'dd-MM-yyyy'}}</span>
                                             <span id="icon_readed" class="material-icons ">
                                             done
                                             </span>
                                         </div>
                                     </div>
                                 </li>
                             </a>
                         </ul>
                     </div>
                 </div>
                 <!-- hết thông báo -->
                 <!-- modal chi tiết-->
                 <ng-template #contentDetail let-modal>
                     <div class="modal-header">
                         <h4 class="modal-title" style="padding-left:10px" id="modal-basic-title">Chi tiết</h4>
                         <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                       <span aria-hidden="true">&times;</span>
                     </button>
                     </div>
                     <div class="modal-body" style="padding:10px">
                         <div id="tab-panel-1" class="tab-panel">
                             <div>
                                 <h5 class="title_notify" style="font-size: 14px;" *ngIf="getDetailNotify.type =='1'">Thông báo nghỉ phép</h5>
                                 <h5 class="title_notify" style="font-size: 14px;" *ngIf="getDetailNotify.type =='2'">Thông báo tăng ca</h5>
                                 <h5 class="title_notify" style="font-size: 14px;" *ngIf="getDetailNotify.type =='3'">Thông báo tăng ca theo giờ</h5>
                                 <p class="name_notify_detail">Họ tên: <strong>{{getDetailNotify.full_name}}</strong></p>
                                 <p class="note_notify_detail">Nội dung: <strong>{{getDetailNotify.note}}</strong></p>
                                 <span class="date_notify_detail">Ngày: <strong>{{getDetailNotify.date_notyfi | date:'dd-MM-yyyy'}}</strong></span>
                             </div>
 
                         </div>
                     </div>
                 </ng-template>
                 <!-- end modal chi tiết-->
 
                 <!-- modal all -->
                 <ng-template #contentList let-modal>
                     <div class=" modal-header">
                         <h4 class="modal-title" id="modal-basic-title">Tất cả thông báo</h4>
                         <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                       <span aria-hidden="true">&times;</span>
                     </button>
                     </div>
                     <div class="modal-body">
                         <div id="tab-panel-1" class="list_notify tab-panel">
 
                             <ul *ngFor="let item of listNotify">
                                 <a (click)="notifyDetail(contentDetail,item.id)">
                                     <li *ngIf="item.read_at == null" class="bg">
                                         <div class="item_notify" ngbDropdownItem style="padding: 10px 8px;">
                                             <h5 class="title_notify" *ngIf="item.type =='1'">Thông báo nghỉ phép</h5>
                                             <h5 class="title_notify" *ngIf="item.type =='2'">Thông báo tăng ca</h5>
                                             <h5 class="title_notify" *ngIf="item.type =='3'">Thông báo tăng ca theo giờ</h5>
 
                                             <p class="note_notify" *ngIf="item.type =='1'">Bạn có thông báo nghỉ phép</p>
                                             <p class="note_notify" *ngIf="item.type =='2'">Bạn có thông báo tăng ca</p>
                                             <p class="note_notify" *ngIf="item.type =='3'">Bạn có thông báo tăng ca theo giờ</p>
                                             <div class="item_bottom">
                                                 <span class="date_notify">{{item.date_notyfi}}</span>
                                                 <span id="icon_read" class=" material-icons ">
                                             fiber_manual_record
                                             </span>
                                             </div>
                                         </div>
                                     </li>
                                     <li *ngIf="item.read_at !==null " class="bg2 ">
                                         <div ngbDropdownItem style="padding: 10px 8px;">
                                             <h5 class="title_notify" *ngIf="item.type ==1">Thông báo nghỉ phép</h5>
                                             <h5 class="title_notify" *ngIf="item.type ==2">Thông báo tăng ca</h5>
                                             <h5 class="title_notify" *ngIf="item.type ==3">Thông báo tăng ca theo giờ</h5>
                                             <p class="note_notify" *ngIf="item.type =='1'">Bạn có thông báo nghỉ phép</p>
                                             <p class="note_notify" *ngIf="item.type =='2'">Bạn có thông báo tăng ca</p>
                                             <p class="note_notify" *ngIf="item.type =='3'">Bạn có thông báo tăng ca theo giờ</p>
                                             <div class="item_bottom">
                                                 <span class="date_notify">{{item.date_notyfi | date:'dd-MM-yyyy'}}</span>
                                                 <span id="icon_readed" class=" material-icons ">
                                             done
                                             </span>
                                             </div>
                                         </div>
                                     </li>
                                 </a>
                             </ul>
                         </div>
                     </div>
                 </ng-template>
                 <!--end modal all -->

      <div class="tools_user user-web" ngbDropdown>
        <a
          class="user__links"
          tabindex="0"
          ngbDropdownToggle
          id="navbarDropdown2"
          role="button"
        >
          <img
            [src]="
              user?.userinfo?.avatar
                ? user?.userinfo?.avatar
                : 'https://ps.w.org/simple-user-avatar/assets/icon-256x256.png?rev=2413146'
            "
            class="tools_user__img"
            alt="img"
          /><span>{{ user.user_account }}</span></a
        >
        <div
          ngbDropdownMenu
          aria-labelledby="navbarDropdown2"
          class="tools_newtask__list"
        >
          <a ngbDropdownItem [routerLink]="['/', 'employee', user.id]"
            >Chi tiết</a
          >
          <a ngbDropdownItem [routerLink]="['/', 'change-password']"
            >Đổi mật khẩu</a
          >
          <a ngbDropdownItem (click)="logOut()">Thoát</a>
        </div>
      </div>
      <div id="nav-status" [class.open]="check" (click)="addclass()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </header>
  <div class="blur" [class.open]="check" (click)="addclass()"></div>
  <!-- end Header-container -->
  <!-- Side-bar -->
  <div #myDiv class="sidebar" [class.open]="check">
    <div class="sidebar__list">
      <div class="sidebar__item">
        <a
          [routerLink]="['/', 'dashboard']"
          class="side-bar__link"
          routerLinkActive="sidebar__active"
          ><span class="material-icons">dashboard</span> Dashboard</a
        >
      </div>
      <div class="sidebar__item">
        <a
          [routerLink]="['/', 'employee']"
          class="side-bar__link"
          routerLinkActive="sidebar__active"
          ><span class="material-icons">people</span> Nhân viên</a
        >
      </div>
      <div class="sidebar__item">
        <a class="side-bar__link dropdown" (click)="toggleDropdown()"
          ><span class="material-icons">qr_code</span> Điểm danh
          <span class="material-icons">{{
            !dropdown ? "expand_more" : "expand_less"
          }}</span></a
        >
        <ul class="sidebar__dropdown" *ngIf="dropdown">
          <li class="dropdow__item">
            <a
              [routerLink]="['/', 'attendance']"
              routerLinkActive="sidebar__active"
              class="dropdown__link"
            >
              <span class="material-icons">face</span> Điểm danh của tôi</a
            >
          </li>
          <li class="dropdow__item" *ngIf="isAdmin">
            <a
              [routerLink]="['/', 'attendanceAnalytics']"
              class="dropdown__link"
              routerLinkActive="sidebar__active"
              ><span class="material-icons">analytics</span> Điểm danh nhân
              viên</a
            >
          </li>
        </ul>
      </div>
      <div class="sidebar__item" *ngIf="isAdmin">
        <a
          [routerLink]="['/', 'positions']"
          class="side-bar__link"
          routerLinkActive="sidebar__active"
          ><span class="material-icons"> radar </span> Chức vụ</a
        >
      </div>
      <div class="sidebar__item" *ngIf="isAdmin">
        <a
          [routerLink]="['/', 'departments']"
          class="side-bar__link"
          routerLinkActive="sidebar__active"
          ><span class="material-icons"> business</span> Phòng ban</a
        >
      </div>
      <div class="sidebar__item">
        <a class="side-bar__link dropdown" (click)="toggleDropdownSalaries()"
          ><span class="material-icons"> request_quote </span> Lương
          <span class="material-icons">{{
            !dropdown ? "expand_more" : "expand_less"
          }}</span></a
        >
        <ul class="sidebar__dropdown" *ngIf="dropdownSalaries">
          <li class="dropdow__item">
            <a
              [routerLink]="['/', 'mySalaries']"
              routerLinkActive="sidebar__active"
              class="dropdown__link"
            >
              <span class="material-icons">money_off</span> Lương của tôi</a
            >
          </li>
          <li class="dropdow__item" *ngIf="isAdmin">
            <a
              [routerLink]="['/', 'salaries']"
              class="dropdown__link"
              routerLinkActive="sidebar__active"
              ><span class="material-icons">view_list</span>Lương nhân viên</a
            >
          </li>
        </ul>
      </div>

      <div class="sidebar__item">
        <a class="side-bar__link dropdown" (click)="toggleDropdownTime()">
          <span class="material-icons"> alarm_on </span> Nghỉ phép
          <span class="material-icons">{{
            !dropTime ? "expand_more" : "expand_less"
          }}</span></a
        >
        <ul class="sidebar__dropdown" *ngIf="dropTime">
          <li class="dropdow__item">
            <a
              [routerLink]="['/', 'my-time-off']"
              routerLinkActive="sidebar__active"
              class="dropdown__link"
            >
              <span class="material-icons"> insert_emoticon </span> Nghỉ phép
              của tôi</a
            >
          </li>
          <li class="dropdow__item" *ngIf="isAdmin">
            <a
              [routerLink]="['/', 'time-off-list']"
              routerLinkActive="sidebar__active"
              class="dropdown__link"
            >
              <span class="material-icons"> pending_actions </span>Nghỉ phép
              nhân viên</a
            >
          </li>
        </ul>
      </div>
      <div class="sidebar__item" *ngIf="isAdmin">
        <a
          [routerLink]="['/', 'prize-fine-money']"
          class="side-bar__link"
          routerLinkActive="sidebar__active"
          ><span class="material-icons"> military_tech </span> Thưởng phạt</a
        >
      </div>

      <div class="sidebar__item" *ngIf="isLeader">
        <a class="side-bar__link dropdown" (click)="toggleDropdownOT()">
          <span class="material-icons"> nights_stay </span>Làm OT
          <span class="material-icons">{{
            !dropOT ? "expand_more" : "expand_less"
          }}</span></a
        >
        <ul class="sidebar__dropdown" *ngIf="dropOT">
          <li class="dropdow__item">
            <a
              [routerLink]="['/', 'list-ot']"
              routerLinkActive="sidebar__active"
              class="dropdown__link"
            >
              <span class="material-icons"> list_alt </span>Danh sách tăng ca</a
            >
          </li>
          <li class="dropdow__item">
            <a
              [routerLink]="['/', 'list-ot-by-time']"
              routerLinkActive="sidebar__active"
              class="dropdown__link"
            >
              <span class="material-icons"> list_alt </span>Tăng ca theo giờ</a
            >
          </li>
          <li class="dropdow__item">
            <a
              [routerLink]="['/', 'update-ot']"
              routerLinkActive="sidebar__active"
              class="dropdown__link"
            >
              <span class="material-icons"> upgrade </span>Cập nhật tăng ca</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="sidebar__item user-ad">
      <a class="side-bar__link dropdown" (click)="toggleDropdownadd()">
        <span class="material-icons">add</span> add
        <span class="material-icons">{{
          !dropdownadd ? "expand_more" : "expand_less"
        }}</span></a
      >
      <ul class="sidebar__dropdown" *ngIf="dropdownadd">
        <li class="dropdow__item">
          <a
            [routerLink]="['/', 'employee-form']"
            *ngIf="isAdmin"
            class="dropdown__link"
            routerLinkActive="sidebar__active"
          >
            <span class="material-icons">face</span>Add Employee
          </a>
        </li>
        <li class="dropdow__item" *ngIf="isAdmin">
          <a
            [routerLink]="['/', 'time-off-add']"
            class="dropdown__link"
            routerLinkActive="sidebar__active"
            ><span class="material-icons">analytics</span> Add permisson</a
          >
        </li>
      </ul>
    </div>

    <div class="sidebar__item user-ad">
      <a class="side-bar__link dropdown" (click)="toggleDropdownuser()"
        ><span class="material-icons">face</span> {{ user.user_account }}
        <span class="material-icons">{{
          !toggleDropuser ? "expand_more" : "expand_less"
        }}</span></a
      >
      <ul class="sidebar__dropdown" *ngIf="toggleDropuser">
        <li class="dropdow__item">
          <a
            [routerLink]="['/', 'employee', user.id]"
            *ngIf="isAdmin"
            (click)="$event.preventDefault()"
            class="dropdown__link"
            routerLinkActive="sidebar__active"
          >
            <span class="material-icons">face</span> detail
          </a>
        </li>
        <li class="dropdow__item" *ngIf="isAdmin">
          <a
            [routerLink]="['/', 'change-password']"
            (click)="$event.preventDefault()"
            class="dropdown__link"
            routerLinkActive="sidebar__active"
            ><span class="material-icons">analytics</span> Change Password</a
          >
        </li>
        <li class="dropdow__item" *ngIf="isAdmin">
          <a
            (click)="logOut()"
            class="dropdown__link"
            routerLinkActive="sidebar__active"
            ><span class="material-icons">analytics</span> logOut</a
          >
        </li>
      </ul>
    </div>
    <div class="sidebar__footer">
      <p>HR Manager</p>
    </div>
  </div>

  <!-- Content -->
  <div class="content"><router-outlet></router-outlet></div>
  <!-- End--Content -->
</div>
<!-- End-Side-bar -->

<app-toast aria-live="polite" aria-atomic="true"></app-toast>
