<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="padding: 0; margin: 0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Positions</li>
  </ol>
</nav>
<div class="position">
  <h3 class="text-center">
    Position List<a [routerLink]="['/', 'position-add']"><span class="material-icons-outlined"> add_circle_outline
      </span></a>
  </h3>
  <div class="row">
    <div class="search mb-2">
      <input type="text" [(ngModel)]="keyword" (keyup.enter)="search()" class="searchTerm" placeholder="Tìm kiếm...">
      <button type="submit" class="searchButton">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
          viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
      </button>
    </div>
    <Table class="table">
      <thead>
        <th>#</th>
        <th>Name</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let position of positions; index as i">
          <td>{{ position.id }}</td>
          <td>{{ position.name }}</td>
          <td>
            <a class="btn btn-primary" [routerLink]="['/', 'position-edit', position.id]">
              Edit
            </a>
            <button class="btn btn-danger" (click)="handleDelete(position.id, i)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </Table>
  </div>
  <ngb-pagination class="d-flex justify-content-end" [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5"
    [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [pageSize]="pageSize"
    (pageChange)="handlePaginate($event)"></ngb-pagination>
  <div class="d-flex">
    <div class="spinner" [ngStyle]="{ display: loading ? 'block' : 'none' }">
      <div class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
