<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="padding: 0; margin: 0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Time off</li>
  </ol>
</nav>
<div class="time-off">
  <h3 class="text-center">My Time off</h3>
  <table class="table">
    <thead>
      <th>Full Name</th>
      <th>Time start</th>
      <th>Time end</th>
      <th>Note</th>
      <th>Status</th>
      <th>Mode leave</th>
      <th>Number day off</th>
      <th>Number day off salaries</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let time of timeOff; index as i">
        <td data-title="Full Name">{{ time.full_name }}</td>
        <td data-title="Time start">{{ time.time_start | date: "dd/MM/yyyy" }}</td>
        <td data-title="Time end">{{ time.time_end | date: "dd/MM/yyyy" }}</td>
        <td data-title="Note">{{ time.note }}</td>
        <td data-title="Status">{{ time.status == 1 ? "Đã duyệt" : "Chưa phê duyệt" }}</td>
        <td data-title="Mode leave">
          {{ time.mode_leave == 1 ? "Nghỉ có lương" : "Nghỉ không lương" }}
        </td>
        <td data-title="Number day off">{{ time.number_day_leave }} ngày</td>
        <td data-title="Number day off salaries">{{ time.number_mode_leave }} ngày</td>
        <td data-title="Action" *ngIf="time.status !== 1">
          <a [routerLink]="['/', 'time-off-edit', time.id]" class="btn btn-primary">Edit</a>
          <button class="btn btn-danger" (click)="handleDelete(time.id, i)">
            Delete
          </button>
        </td>
        <td *ngIf="time.status == 1">
          <span class="btn btn-success">Acepted</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
