<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="padding: 0; margin: 0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Time off</li>
  </ol>
</nav>
<div class="time-off">
  <h3 class="text-center">My Time off <a [routerLink]="['/', 'time-off-add']"><span class="material-icons-outlined"> add_circle_outline </span></a></h3>
  <table class="table">
      <thead>

        <th>Full Name</th>
        <th>Time start</th>
        <th>Time end</th>
        <th>Note</th>
        <th>Status</th>
        <th>Mode leave</th>
        <th>Số ngày xin nghỉ</th>
        <th>Số ngày nghỉ có lương</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let time of timeOff; index as i">

          <td>{{time.full_name}}</td>
          <td>{{time.time_start | date: 'dd/MM/yyyy'}}</td>
          <td>{{time.time_end | date: 'dd/MM/yyyy'}}</td>
          <td>{{time.note}}</td>
          <td>{{time.status == 1 ? 'Đã duyệt' : 'Chưa phê duyệt'}}</td>
          <td>{{time.mode_leave == 1 ? 'Nghỉ có lương' : 'Nghỉ không lương'}}</td>
          <td>{{time.number_day_leave}} ngày</td>
          <td>{{time.number_mode_leave}} ngày</td>
          <td *ngIf="time.status !== 1">
            <a [routerLink]="['/','time-off-edit',time.id]" class="btn btn-primary">Edit</a>
            <button class="btn btn-danger" (click)="handleDelete(time.id, i)">Delete</button>
          </td>
          <td *ngIf="time.status == 1">
            <span class="btn btn-success">Acepted</span>
          </td>
        </tr>
      </tbody>
  </table>
</div>
