<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="padding: 0; margin: 0">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      Nghỉ phép cá nhân
    </li>
  </ol>
</nav>
<div class="time-off">
  <div class="header_timeoff">
    <h3 class="text-center">HOạt động nghỉ phép cá nhân</h3>
    <a [routerLink]="['/', 'trash-time-off']">
      <span class="material-icons"> delete_sweep </span>
    </a>
  </div>

  <table class="table">
    <thead>
      <th>Họ và tên</th>
      <th>Ngày bắt đầu</th>
      <th>Ngày kết thúc</th>
      <th>Chú thich</th>
      <th>Trạng thái</th>
      <th>chế độ nghỉ</th>
      <th>Số ngày nghỉ</th>
      <th>Số ngày nghỉ có lương</th>
      <th>Thao tác</th>
    </thead>
    <tbody>
      <tr *ngFor="let time of timeOff; index as i">
        <td>{{ time.full_name }}</td>
        <td>{{ time.time_start | date: "dd/MM/yyyy" }}</td>
        <td>{{ time.time_end | date: "dd/MM/yyyy" }}</td>
        <td>{{ time.note }}</td>
        <td>{{ time.status == 1 ? "Đã duyệt" : "Chưa phê duyệt" }}</td>
        <td>
          {{ time.mode_leave == 1 ? "Nghỉ có lương" : "Nghỉ không lương" }}
        </td>
        <td>{{ time.number_day_leave }} ngày</td>
        <td>{{ time.number_mode_leave }} ngày</td>
        <td *ngIf="time.status !== 1" class="d-flex">
          <a
            [routerLink]="['/', 'time-off-edit', time.id]"
            class="btn btn-primary mr-2"
            >Edit</a
          >
          <button class="btn btn-danger" (click)="handleDelete(time.id, i)">
            Xóa
          </button>
        </td>
        <td *ngIf="time.status == 1">
          <span class="btn btn-success">Đã phê duyệt</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
