<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="padding: 0; margin: 0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/', 'positions']">Positions</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ idPosition ? "Edit Position" : "Add Position" }}
    </li>
  </ol>
</nav>
<div class="container">
  <div class="addForm">
    <h3>{{ idPosition ? "Edit Position" : "Add Position" }}</h3>
    <form #formPosition="ngForm" (ngSubmit)="handleSubmit(formPosition.value)">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Position name"
          name="name"
          [(ngModel)]="model.namePosition"
          #name="ngModel"
           [ngClass]="{ 'is-invalid': formPosition.submitted && name.invalid }" required
        />
        <div class="invalid-feedback" *ngIf="formPosition.submitted && name.invalid">
          <p *ngIf="name.errors.required">Name is required</p>
        </div>
      </div>
      <button class="btn btn-success">
        {{ idPosition ? "Edit " : "Add " }}
      </button>
    </form>
  </div>
</div>
