<div class="change-background">
  <div class="change-page">
    <div class="form">
      <h1 class="text-center mb-5">HR Manager</h1>

      <form action="" (submit)="submitForm($event)" [formGroup]="ForgotPass">
        <input type="email" placeholder="Your Email"
          formControlName="email" />
        <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)"
          class="alert alert-danger">
          <div *ngIf="f.email.errors?.required">
            Email is required.
          </div>
        </div>
        <button type="submit">
          Send
          <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> -->
        </button>
        <a class="cancle" [routerLink]="['/','login']">Cancle</a>
      </form>
    </div>
  </div>
</div>
