.attendance-container {
  padding: 1em;
}
.attendace__analytic {
  background-color: whitesmoke;
  height: 38em;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}
.month-sumary {
  background-color: white;
  height: 18.5em;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}
.file-input {
  display: none;
}
.employee-sumary {
  margin-top: 1em;
  background-color: white;
  height: 18.5em;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}
.list-attendence {
  margin-top: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 30px 20px;
  text-align: center;
  box-shadow: var(--box-shadow);
  min-height: 36em;
}

.list-attendence h3 span {
  padding-left: 20px;
  color: var(--primary-color);
  cursor: pointer;
}
th {
  color: var(--primary-color);
}

.list-attendence h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-legend {
  width: 100% !important;
}
.attendace__chart {
  width: 95%;
  height: 95%;
}
.month-sumary-chart {
  width: 95%;
  height: 63%;
}
@media only screen and (max-width: 992px) {
  .col-12-md {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .lh-two {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
  }
  .month-sumary {
    margin-right: 10px;
    width: 100%;
  }
  .employee-sumary {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  table thead {
    display: none;
  }
  table tbody,
  table tbody tr {
    display: block;
    width: 100%;
  }
  table tbody tr th::before,
  table tbody tr td::before {
    content: attr(data-title);
    font-weight: bold;
    color: #6bae2d;
    text-align: left;
  }
  table tbody tr td {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  table tbody tr th {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  table tbody tr {
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 480px) {
  table tbody tr th::before,
  table tbody tr td::before {
    text-align: center;
  }
  table tbody tr td {
    flex-direction: column;
  }
  table tbody tr th {
    flex-direction: column;
  }
  .list-attendence {
    max-height: 576px;
    overflow: scroll;
  }
  .lh-two {
    display: unset;
  }
  .month-sumary {
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    height: auto;
  }
  .employee-sumary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom: 20px;
  }
  .month-sumary-chart {
    height: 45%;
  }
}
