<div class="attendance-container">
  <app-filter (filtered)="handleFilter($event)"></app-filter>
  <div class="list-attendence" *ngIf="atendances">
    <h3 class="text-center">
      Điểm danh của nhân viên<a [routerLink]="['/', 'attendance-form']"
        ><span class="material-icons"> add_circle_outline </span></a
      >
    </h3>

    <p-table
      #dt
      [value]="atendances"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Hiển thị từ {first} đến {last} của {totalRecords} bản ghi"
      sortMode="multiple"
      [globalFilterFields]="['name']"
    >
      <ng-template pTemplate="caption">
        <div class="d-flex flex-row-reverse align-items-center">
          <button
            class="btn btn-success ml-2 d-flex align-items-center"
            (click)="exportExcel()"
          >
            <span class="material-icons">get_app</span> EXCEL
          </button>
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Tìm theo nhân viên"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="userID">
            ID NV <p-sortIcon field="userID"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="userID"
              display="menu"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="name">
            Tên NV<p-sortIcon field="name"></p-sortIcon
            ><p-columnFilter
              type="text"
              field="name"
              display="menu"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="date">
            Ngày <p-sortIcon field="date"></p-sortIcon
            ><p-columnFilter
              type="date"
              field="date"
              display="menu"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="checkIn">
            Giờ vào <p-sortIcon field="checkIn"></p-sortIcon
            ><p-columnFilter
              type="text"
              field="checkIn"
              display="menu"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="checkOut">
            Giờ ra <p-sortIcon field="checkOut"></p-sortIcon
            ><p-columnFilter
              type="text"
              field="checkOut"
              display="menu"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="OT">
            Làm thêm <p-sortIcon field="OT"></p-sortIcon>
          </th>
          <th pSortableColumn="status">
            Trạng thái <p-sortIcon field="status"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-atendance let-colums="colums">
        <tr>
          <td>
            {{ atendance.userID }}
          </td>
          <td>
            {{ atendance.name }}
          </td>
          <td>
            {{ atendance.date | date: "dd/MM/yyyy" }}
          </td>
          <td>
            {{ atendance.checkIn }}
          </td>
          <td>
            {{ atendance.checkOut }}
          </td>
          <td [ngClass]="[atendance.OT === 1 ? 'text-success' : 'text-danger']">
            {{ atendance.OT === 1 ? "OT" : "Không" }}
          </td>
          <td
            [ngClass]="[
              atendance.status === 1 ? 'text-success' : 'text-danger'
            ]"
          >
            {{ atendance.status === 1 ? "Đi làm" : "nghỉ" }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
