<div class="attendance-container">
  <div class="row">
    <div class="col-8">
      <div class="attendace__analytic">
        <h3 class="text-center">Thống kê đi làm nhân viên</h3>
        <ngx-charts-bar-vertical-stacked
          [view]="[800, 550]"
          [scheme]="colorScheme"
          [results]="multi"
          [gradient]="false"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [barPadding]="10"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [animations]="true"
        >
        </ngx-charts-bar-vertical-stacked>
      </div>
    </div>
    <div class="col-4">
      <div class="month-sumary">
        <h4 class="text-center">Điểm danh hôm nay</h4>
        <ngx-charts-pie-chart
          [view]="[390, 190]"
          [scheme]="colorScheme"
          [results]="single"
          [gradient]="true"
          [legend]="true"
          [legendPosition]="'below'"
          [labels]="false"
          [doughnut]="true"
        >
        </ngx-charts-pie-chart>
      </div>
      <div class="employee-sumary">
        <h4 class="text-center">nghỉ quá số buổi</h4>
        <ngx-charts-pie-chart
          [view]="[390, 190]"
          [scheme]="'forest'"
          [results]="emplyee"
          [gradient]="true"
          [legend]="false"
          [legendPosition]="'below'"
          [labels]="false"
          [doughnut]="true"
        >
        </ngx-charts-pie-chart>
      </div>
    </div>
  </div>

  <div class="list-attendence">
    <h3 class="text-center">List Attendence</h3>
    <table class="table">
      <thead>
        <th>#</th>
        <th>Full Name</th>
        <th>ID</th>
        <th>Check in</th>
        <th>Check out</th>
        <th>Date</th>
        <th>Status</th>
      </thead>
      <tbody>
        <tr *ngFor="let atten of listAllAtten; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ atten.full_name }}</td>
          <td>{{ atten.user_id }}</td>
          <td>{{ atten.time_of_check_in }}</td>
          <td>{{ atten.time_of_check_out }}</td>
          <td>{{ atten.date_of_work }}</td>
          <td *ngIf="atten.status == 1">
            <span class="text-success">Work</span>
          </td>
          <td *ngIf="atten.status !== 1">
            <span class="text-danger">Off</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
