<div class="attendance-container">
  <div class="row">
    <div class="col-8 col-12-md">
      <div class="attendace__analytic">
        <h3 class="text-center">Thống kê đi làm nhân viên</h3>
        <div class="attendace__chart">
          <ngx-charts-bar-vertical-stacked
            [view]="[800, 550]"
            [scheme]="colorScheme"
            [results]="multi"
            [gradient]="false"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="false"
            [barPadding]="10"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [animations]="true"
          >
          </ngx-charts-bar-vertical-stacked>
        </div>
      </div>
    </div>
    <div class="col-4 col-12-md lh-two">
      <div class="month-sumary">
        <h4 class="text-center">Điểm danh hôm nay</h4>
        <ngx-charts-pie-chart
          [view]="[390, 190]"
          [scheme]="colorScheme"
          [results]="single"
          [gradient]="true"
          [legend]="true"
          [legendPosition]="'below'"
          [labels]="false"
          [doughnut]="true"
        >
        </ngx-charts-pie-chart>
      </div>
      <div class="employee-sumary">
        <h4 class="text-center">nghỉ quá số buổi</h4>
        <ngx-charts-pie-chart
          [view]="[390, 190]"
          [scheme]="'forest'"
          [results]="emplyee"
          [gradient]="true"
          [legend]="false"
          [legendPosition]="'below'"
          [labels]="false"
          [doughnut]="true"
        >
        </ngx-charts-pie-chart>
      </div>
    </div>
  </div>

  <div class="list-attendence">
    <h3 class="text-center">Điểm danh của nhân viên</h3>
    <table class="table">
      <thead>
        <th>Stt</th>
        <th>Họ và tên</th>
        <th>ID nhân viên</th>
        <th>Check in</th>
        <th>Check out</th>
        <th>Ngày</th>
        <th>Trạng thái</th>
      </thead>
      <tbody>
        <tr *ngFor="let atten of listAllAtten; index as i">
          <td data-title="#">{{ i + 1 }}</td>
          <td data-title="Full Name">{{ atten.full_name }}</td>
          <td data-title="ID">{{ atten.user_id }}</td>
          <td data-title="Check in">{{ atten.time_of_check_in }}</td>
          <td data-title="Check out">{{ atten.time_of_check_out }}</td>
          <td data-title="Date">{{ atten.date_of_work }}</td>
          <td data-title="Status" *ngIf="atten.status == 1">
            <span class="text-success">Work</span>
          </td>
          <td data-title="Status" *ngIf="atten.status !== 1">
            <span class="text-danger">Off</span>
          </td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination
      class="d-flex justify-content-end"
      [collectionSize]="collectionSize"
      [(page)]="page"
      [maxSize]="5"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
      [pageSize]="pageSize"
      (pageChange)="handlePaginate($event)"
    ></ngb-pagination>
    <div class="d-flex">
      <div class="spinner" [ngStyle]="{ display: loading ? 'block' : 'none' }">
        <div class="spinner-grow text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
