<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="padding: 0; margin: 0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Salaries</li>
  </ol>
</nav>

<div class="salaries">
  <h3>Salaries List</h3>
  <Table class="table">
    <thead>
      <th>#</th>
      <th>Full name</th>
      <th>Total gross salary</th>
      <th>Total salary leave</th>
      <th>Total net salary</th>
      <th>Status</th>
      <th>Date</th>
      <th *ngIf="isAdmin">Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let salary of salaries">
        <td>{{ salary.id }}</td>
        <td>{{salary.full_name}}</td>
        <td>{{ salary.total_gross_salary|currency:'VND':'symbol':'1.0-0':'vi-VN' }}</td>
        <td>{{ salary.total_salary_leave|currency:'VND':'symbol':'1.0-0':'vi-VN' }}</td>
        <td>{{ salary.total_net_salary |currency:'VND':'symbol':'1.0-0':'vi-VN'}}</td>
        <td>{{salary.status == 0 ? "Chưa trả" : "Đã trả"}}</td>
        <td>{{salary.date}}</td>
        <td *ngIf="isAdmin">
          <button class="btn btn-primary" [routerLink]="['/salaryDetail/'+ salary.id]">
            Detail
          </button>
        </td>
      </tr>
    </tbody>
  </Table>
</div>

<!-- --paginate -->
<!-- <ngb-pagination class="d-flex justify-content-end" [collectionSize]="collectionSize" [(page)]="pageIndex"
[maxSize]="49" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [pageSize]="pageSize"
(pageChange)="pageChange($event)"></ngb-pagination> -->