.breadcrumb {
  margin: 0;
  padding: 4px 12px;
  /* background: var(--primary-color); */
}

.breadcrumb > li > a {
  color: var(--dark-color);
}

.breadcrumb-item .active {
  color: var(--dark-color);
}

/* end header of content */

/* Sidebar of content */

.content__main-sidebar {
  background-color: #fff;
  margin: 1em;
  height: 100%;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.content__main-info {
  width: 100%;
  background-color: #fff;
  margin: 1em 1em 1em 0.5em;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.content__main-content {
  display: flex;
  align-items: stretch;
}

.card {
  padding: 20px 40px;
  border: none;
  min-height: 30em;
}

.card-body {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.card-body span {
  color: rgba(0, 0, 0, 0.5);
}

.card .card-img-top {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card-qr img {
  width: 100%;
  margin-top: 1em;
}

/* end sidebar  */

.tab-control {
  display: inline-block;
  border-bottom: 2px solid transparent;
  font-size: var(--text-md);
  padding: 0.6rem 1rem;
  cursor: pointer;
  transition: all 0.25s ease;
}
.tabs {
  padding: 1em;
}
.tab-control:hover {
  color: var(--primary-color);
}

.tab-panel {
  display: none;
}

/* Magic style */
input[type="radio"]:checked + .tab-control {
  font-weight: 600;
  color: var(--primary-color);
  border-bottom-color: var(--primary-color);
}

#tab-1:checked ~ .tab-content > #tab-panel-1 {
  display: block;
}

#tab-2:checked ~ .tab-content > #tab-panel-2 {
  display: block;
}

#tab-3:checked ~ .tab-content > #tab-panel-3 {
  display: block;
}

/* main content */
