<div class="content__main">
  <div class="content__main-header">
    <div class="breadcrumb">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Detail</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="content__main-content">
    <div class="content__main-sidebar">
      <div class="card" #screen style="width: 18rem">
        <img
          class="card-img-top"
          src="https://media.istockphoto.com/photos/portrait-of-handsome-latino-african-man-picture-id1007763808?k=6&m=1007763808&s=612x612&w=0&h=Js1VDBulbaNw_CF7fghP_nhUPCC-DQTqb7Wym1CdTOI="
          alt="Card image cap"
          crossorigin="anonymous"
        />
        <!-- <canvas #canvasImg width="500" height="500"></canvas> -->
        <div class="card-body">
          <h3 class="card-text">{{ userInfo?.userinfo?.full_name }}</h3>
          <span class="card-text-position">{{
            userInfo?.phongban_userinfo?.name
          }}</span>
          <span>/</span>
          <span class="card-text-department">{{
            userInfo?.chucvu_userinfo?.name
          }}</span>
        </div>
        <div class="card-qr">
          <ngx-kjua
            *ngIf="userInfo?.userinfo"
            [text]="userInfo?.userinfo?.code_QR"
            render="canvas"
          ></ngx-kjua>
        </div>
      </div>
      <button class="btn btn-block btn-success" (click)="downloadCard()">
        Download Employee Card
      </button>
      <div hidden id="download">
        <img #canvas />
        <a #downLoadLink></a>
      </div>
    </div>
    <div class="content__main-info"></div>
  </div>
</div>
